.page-not-found{
    margin: 10px;
}

.page-not-found h1{
    font-weight: 700;
    padding: 10px;
}
.page-not-found h2{
    font-weight: 700;
    padding: 10px;
    color: #ffc107;
}

.not-found-btn{
    padding: 30px 20px;
    margin: 15px;
    font-weight: 800;
    font-size: 20px;
}